<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Quang Huynh's Development</title>
    <link rel="stylesheet" href='/main.css'>

<body>
    <header>
        <h1 class="logo"><a href='/'>Flask Application</a></h1>
        <nav>
            <ul class="menu">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('contact') }}">Contact</a>
            </ul>
        </nav>
    </header>

    <container>
        <div style="text-align: center;">
            <p>This is Flask-based web application containing multiple simple and useful tools.</p>
            <p>It is built using Python and Flask framework</p>
            <p>Target users are IS individuals beginning to learn Python and web development.</p>
            <p>Feel free to explore the different tools available!</p>
        </div>
    </container>

</body>
</html>
